<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You're following your post: "<%= @post.title %>"</h1>
    <h3> <%= link_to "View or unfollow post on site", topic_post_url(@post.topic, @post) %></h3>
  </body>
</html>
