
<h1 class="about-heading">About Bloccit</h1>

<div class="panel panel-default">
  <div class="panel-heading">
		<h3 class="panel-title">What's Bloccit?</h3>
  </div>
  <div class="panel-body">
		Bloccit is a learning project through Bloc.io, an online code school, used to introduce back-end concepts of Ruby on Rails to developers.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
		<h3 class="panel-title">Looking for source code?</h3>
  </div>
  <div class="panel-body">
		Checkout my GitHub repository: <a href="https://github.com/danielhopler/bloccit">github.com/danielhopler/bloccit</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
		<h3 class="panel-title">Looking to get in contact?</h3>
  </div>
  <div class="panel-body">
			shoot me an email! -  <a href="mailto:hopler.daniel@gmail.com">hopler.daniel@gmail.com</a>
  </div>
</div>
