// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-butn {
  text-align: center;
  display: block;
  font-family: Georgia;
  font-size: 20px;
  position: absolute;
  bottom: 50%;
  top: 50%;
  right: 50%;
  left:50%;
  width:200px;
  height:70px;
  padding: 2px 6px 2px 6px;
}
